<section>
	<div class="container mx-auto p-12">
		<div class="lg:flex">
			<iframe class="flex-1 w-full" src="https://lottie.host/embed/d75e2de7-5ee2-4502-9216-8c96885d4f9d/5bZKOdK8Ix.json"></iframe>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h1 class="text-white font-bold text-xl">강남 룸싸롱 씨크릿</h1>
					<p>강남 룸싸롱 씨크릿" 웹사이트를 방문해 주셔서 감사합니다!</p>
					<p>저희 씨크릿은 강남 최고의 룸싸롱으로, 고객님께 최상의 서비스와 무엇보다 특별한 경험을 제공하기 위해 끊임없이 노력하고 있습니다. 우아하고 세련된 인테리어에서 편안함을 느껴보시고, 전문적이면서도 친절한 직원들의 서비스를 경험해 보세요. 다양한 테마의 개인실에서 비즈니스 미팅, 친구들과의 모임, 또는 특별한 날을 더욱 특별하게 만들어 드립니다.</p>
					<p>저희 웹사이트에서는 서비스 소개, 이용안내, 예약방법 등 다양한 정보를 쉽게 찾아보실 수 있습니다. 더 궁금하신 점이 있으시면 언제든지 문의해 주시길 바랍니다.</p>
					<p>'씨크릿'에서 보내는 시간이 고객님의 삶에 빛나는 순간이 되도록 최선을 다하겠습니다. 다시 한번 저희 '씨크릿'을 찾아주셔서 진심으로 감사드립니다. 멋진 경험을 기대하셔도 좋습니다!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:flex lg:mt-10 p-12">
		<div class="flex-1 p-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-16 flex-none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <circle cx="12" cy="12" r="9"></circle>
			   <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"></path>
			   <path d="M12 7v10"></path>
			</svg>
			<div class="flex-1 p-3">
				<h3 class="text-white text-xl font-bold mb-2">저렴한 가격</h3>
				<p class="text-zinc-500 text-sm font-bold">강남 룸싸롱 씨크릿은 경쟁력 있는 가격으로 최고의 서비스를 제공합니다.</p>
				<p class="text-zinc-500 text-sm font-bold">강남 중심에 위치한 저희 룸싸롱에서는 가격 대비 최상의 가치를 경험하실 수 있습니다.</p>
			</div>
		</div>
		<div class="flex-1 p-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-16 flex-none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
			   <path d="M4 13a8.094 8.094 0 0 0 3 5.24"></path>
			   <path d="M11 15h2a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-1a1 1 0 0 0 -1 1v1a1 1 0 0 0 1 1h2"></path>
			   <path d="M17 15v2a1 1 0 0 0 1 1h1"></path>
			   <path d="M20 15v6"></path>
			</svg>
			<div class="flex-1 p-3">
				<h3 class="text-white text-xl font-bold mb-2">연중무휴 24시간</h3>
				<p class="text-zinc-500 text-sm font-bold">강남 룸싸롱 씨크릿은 연중무휴로 운영되어 언제든지 고객님의 방문을 환영합니다.</p>
				<p class="text-zinc-500 text-sm font-bold">언제나 고객님을 위한 준비가 되어 있는 씨크릿에서 특별한 시간을 보내실 수 있습니다.</p>
			</div>
		</div>
		<div class="flex-1 p-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-16 flex-none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <path d="M3 5h18"></path>
			   <path d="M3 19h18"></path>
			   <path d="M4 9l2 6h1l2 -6"></path>
			   <path d="M12 9v6"></path>
			   <path d="M16 15v-6h2a2 2 0 1 1 0 4h-2"></path>
			</svg>
			<div class="flex-1 p-3">
				<h3 class="text-white text-xl font-bold mb-2">VIP 서비스</h3>
				<p class="text-zinc-500 text-sm font-bold">강남 룸싸롱 씨크릿의 VIP 혜택은 고객님께 특별한 서비스와 개인화된 경험을 제공합니다.</p>
				<p class="text-zinc-500 text-sm font-bold">VIP 고객님은 우선 예약 서비스, 개인 맞춤형 케어, 그리고 특별한 이벤트 및 프로모션에 대한 독점적인 접근을 받으실 수 있습니다.</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10 p-12">
		<div class="lg:flex">
			<iframe class="flex-1 w-full" src="https://lottie.host/embed/1a8acbfa-1b8b-46f9-976e-3155e0bef288/uSdMAP5vZO.json"></iframe>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">씨크릿 영업시간</h2>
					<p>강남 룸싸롱 씨크릿은 매일 오후 5시부터 새벽 5시까지 운영하여, 여러분이 원하는 시간에 언제든지 최상의 서비스를 제공합니다. 바쁜 일과 후 휴식을 취하거나 밤늦게까지 지속되는 모임에도 완벽한 장소를 제공합니다. 강남에서의 밤을 즐길 수 있는 이상적인 곳, 씨크릿에서 여러분을 기다립니다.</p>
					<ul class="grid grid-cols-2 sm:grid-cols-3 gap-3">
						<li>
							<h3 class="text-white font-bold">평일</h3>
							<div>1부 17:00~05:00</div>
							<div>2부 없음</div>
						</li>
						<li>
							<h3 class="text-white font-bold">주말 및 공휴일</h3>
							<div>1부 17:00~05:00</div>
							<div>2부 없음</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10 p-12">
		<div class="lg:flex">
			<iframe class="flex-1 w-full" src="https://lottie.host/embed/197a03d0-8795-4ae8-90c5-00b9d249264a/i82KwWUJIl.json"></iframe>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">씨크릿 기본 테이블 구성</h2>
					<p>위스키 세트를 주문 하시면</p>
					<ol class="list-decimal ml-6">
						<li>주문하신 위스키(양주)</li>
						<li>진안주 모듬과일</li>
						<li>맥주 무제한</li>
						<li>음료 무제한</li>
						<li>최신 인테리어의 룸</li>
						<li>고급 음향시설(노래방, 플레이어)</li>
					</ol>
					<p>위 6가지 서비스가 제공 됩니다.</p>
					<p class="text-zinc-500 text-sm">* 시간 연장시 술 추가를 하시지 않을 경우 별도의 룸 사용료(룸비)가 발생 합니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10 p-12">
		<h2 class="text-xl font-bold text-white text-center">금액:</h2>
		<div class="text-sm text-zinc-500 font-bold text-right mt-3">(단위: ₩)</div>
		<ul class="text-center mt-3">
			{{range .Menu.Menu}}
			<li class="grid grid-cols-2 gap-3 hover:text-white py-1 rounded even:bg-zinc-900/70">
				<span class="flex items-center justify-center">{{.Name}}</span>
				<span class="flex items-center justify-center">{{.Price}}</span>
			</li>
			{{end}}
		</ul>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10 p-12">
		<h2 class="text-xl font-bold text-white text-center">강남 풀싸롱 씨크릿 모습</h2>
		<div class="mt-3 text-center text-zinc-500 font-bold">
			<p>강남 풀싸롱 씨크릿의 내부시설은 고급스러움과 현대적인 디자인이 완벽하게 조화를 이루고 있습니다.</p> 
			<p>첨단 음향 시스템과 조명 설비는 감각적인 분위기를 조성하며, 다양한 테마의 개인실은 고객의 개별적인 요구와 취향을 만족시키기 위해 세심하게 마련되었습니다.</p>
		</div>
		<div class="mt-3 space-y-3 sm:space-y-0 sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
			{{range .Site.Store.Images}}
			<img class="object-cover w-full h-full rounded" src="/static/img/index/store/{{.}}" alt="강남 퍼펙트 하이퍼블릭 인테리어">
			{{end}}
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10 p-12">
		<div class="lg:flex">
			<iframe class="flex-1 w-full" src="https://lottie.host/embed/dc52fad3-fb9a-4736-a395-7a9eac652b5d/jZ1OPdVBr8.json"></iframe>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">강남 룸싸롱 씨크릿 예약방문 이벤트</h2>
					<p>예약방문 고객에 한해 무료 및 할인 이벤트가 준비 되어있습니다</p>
					<ul class="space-y-3 list-decimal ml-6">
						<li>
							<h3 class="text-white font-bold">초저녁 주대 할인 이벤트</h3>
							<div>상시 이벤트가 아니므로 퍼펙트 방문시 상담전화를 통해 이벤트 유무를 확인 해주세요.</div>
						</li>
						<li>
							<h3 class="text-white font-bold">강남권에 계신 고객 무료픽업</h3>
							<div>현재 강남권에 계신 예약고객에 한해 고급승용차로 무료픽업을 해드리고 있습니다.</div>
						</li>
						<li>
							<h3 class="text-white font-bold">자가용 이용 고객 무료 발렛파킹</h3>
							<div>자가용을 이용하시는 예약고객에 한해 호텔 발렛파킹을 무료로 지원 합니다.</div>
						</li>
					</ul>
					<p class="text-zinc-500 text-sm">저희 씨크릿을 더욱 저렴하게 이용하시려면 예약방문을 권장 해드립니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mx-auto px-3 lg:mt-10 p-12">
		<div class="lg:flex">
			<iframe class="flex-1 w-full" src="https://lottie.host/embed/3d5f7c95-8a6e-479d-bc7e-b8043f66d344/RwRMmQlvIS.json"></iframe>
			<div class="flex-1 flex items-center">
				<div class="space-y-3">
					<h2 class="text-white font-bold text-xl">강남 룸싸롱 씨크릿 오시는 길</h2>
					<p>주소: {{.Site.Store.Address}}</p>
				</div>
			</div>
		</div>
	</div>
	<iframe class="w-full h-[50vh] mx-auto mt-3 lg:mt-0" title="map" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.8479106529085!2d127.03145169999998!3d37.5115051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3f05b7c4407%3A0xbb44e0b5425b8a89!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDrhbztmITrj5kgMTUxLTMw!5e0!3m2!1sko!2skr!4v1660745693771!5m2!1sko!2skr" style="filter: opacity(0.8);"></iframe>
</section>
<section>
	<div class="container px-3 mx-auto lg:mt-10 p-12">
		<h2 class="text-white font-bold text-xl">강남 룸싸롱 씨크릿 소개</h2>
		<article class="mt-4">
			<p>강남 룸싸롱 씨크릿은 독점적인 비밀과 고급스러운 분위기를 모티브로 한 공간에서 방문객들에게 은밀하고 고급스러운 밤의 경험을 제공합니다. 씨크릿은 그 이름처럼, 비밀스러움과 독점적인 경험을 상징하며, 강남의 밤문화에 럭셔리하고 개인적인 즐거움을 더하는 명소입니다.</p>
			<br>
			<p>이곳의 인테리어는 세련된 요소와 고급스러운 디자인이 조화를 이루며, 독점적인 조명과 씨크릿을 테마로 한 장식이 방문객들을 매혹적인 분위기로 초대합니다. 씨크릿에서는 중요한 비즈니스 모임, 은밀한 대화를 나누고 싶은 저녁, 또는 특별한 사람들과의 만남을 위한 이상적인 장소를 제공합니다.</p>
			<br>
			<p>강남 룸싸롱 씨크릿에서는 다양한 종류의 음료와 함께 세심하게 준비된 안주를 즐길 수 있으며, 숙련된 직원들이 방문객의 취향에 맞춘 서비스를 제공합니다. 특히, 씨크릿의 음료와 안주는 고급스러운 분위기와 어우러져 방문객들에게 새로운 맛의 경험을 선사합니다.</p>
			<br>
			<p>씨크릿은 다양한 이벤트와 테마 파티를 주최하여, 방문객들에게 새로운 즐거움과 경험을 제공합니다. 이곳에서는 새로운 사람들을 만나고, 다양한 이야기를 나누며, 강남의 활기찬 밤문화를 비밀스럽게 즐길 수 있습니다.</p>
			<br>
			<p>강남에서 비밀과 럭셔리를 주제로 한 분위기의 룸싸롱을 찾고 있다면, 씨크릿은 방문객들에게 만족스러운 경험을 선사할 것입니다. 이곳에서는 비밀스러운 에너지와 함께 다양한 음료와 탁월한 서비스로 방문객들에게 잊지 못할 추억을 선사합니다.</p>
		</article>
	</div>
</section>