<!DOCTYPE html>
<html lang="ko">
<head>
	{{template "components/head/browser"}}
	{{template "components/head/seo" .}}
	{{template "components/head/styles"}}
	{{template "components/head/scripts"}}
</head>
<body class="antialiased bg-black text-zinc-300">
	<header class="h-screen relative">
		<div class="absolute top-0 left-0 w-full h-full brightness-50">
			<img src="/static/img/index/thumbnail.png">
		</div>
		<div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
			<div>
				<!-- <svg class="mx-auto w-14 sm:w-20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 414.25 500" style="enable-background:new 0 0 414.25 500;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:#FF0000;}
						.st1{clip-path:url(#SVGID_2_);}
						.st2{fill:#ff0000;}
					</style>
					<g>
						<path class="st0" d="M278.89,50.74H25.35C11.36,50.74,0,39.38,0,25.38l0,0c0-14,11.36-25.35,25.35-25.35h253.53
							c14,0,25.35,11.36,25.35,25.35l0,0C304.24,39.38,292.93,50.74,278.89,50.74z"></path>
						<path class="st0" d="M278.89,289.06H149.13c-14,0-25.35-11.36-25.35-25.35l0,0c0-14,11.36-25.35,25.35-25.35h129.76
							c14,0,25.35,11.36,25.35,25.35l0,0C304.24,277.7,292.93,289.06,278.89,289.06z"></path>
						<g>
							<g>
								<defs>
									<rect id="SVGID_1_" x="269.74" width="144.51" height="289.03"></rect>
								</defs>
								<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
								</clipPath>
								<g class="st1">
									<path class="st2" d="M269.71,50.74c51.72,0,93.81,42.09,93.81,93.81s-42.09,93.81-93.81,93.81s-93.81-42.09-93.81-93.81
										S217.99,50.74,269.71,50.74 M269.71,0.03c-79.81,0-144.51,64.7-144.51,144.51s64.7,144.51,144.51,144.51
										s144.51-64.7,144.51-144.51S349.52,0.03,269.71,0.03L269.71,0.03z"></path>
								</g>
							</g>
						</g>
						<path class="st0" d="M119.21,365.12V263.71c0-14,11.36-25.35,25.35-25.35l0,0c14,0,25.35,11.36,25.35,25.35v101.41
							c0,14-11.36,25.35-25.35,25.35l0,0C130.57,390.47,119.21,379.11,119.21,365.12z"></path>
						<path class="st0" d="M261.19,170.35H38.08c-14,0-25.35-11.36-25.35-25.35l0,0c0-14,11.36-25.35,25.35-25.35h223.11
							c14,0,25.35,11.36,25.35,25.35l0,0C286.54,159,275.19,170.35,261.19,170.35z"></path>
						<path class="st0" d="M12.73,474.65V145c0-14,11.36-25.35,25.35-25.35l0,0c14,0,25.35,11.36,25.35,25.35v329.65
							c0,14-11.36,25.35-25.35,25.35l0,0C24.09,500,12.73,488.64,12.73,474.65z"></path>
					</g>
				</svg> -->
				<div class="p3 body-font font-orbitron drop-shadow-lg">
					<div class="mt-4 text-[white] font-medium text-4xl sm:text-6xl">The Secret</div>
					<div class="mt-3 text-right text-green-500 text-xl sm:text-3xl">
						<div>EVERYDAY WITH YOU</div>
						<!-- <div>HOLIDAY</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="absolute left-0 bottom-3 w-full">
			<svg xmlns="http://www.w3.org/2000/svg" class="animate-bounce w-8 sm:w-10 mx-auto text-[red] opacity-70" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			   <circle cx="12" cy="12" r="9"></circle>
			   <line x1="8" y1="12" x2="12" y2="16"></line>
			   <line x1="12" y1="8" x2="12" y2="16"></line>
			   <line x1="16" y1="12" x2="12" y2="16"></line>
			</svg>
		</div>
	</header>
	<main class="space-y-10 lg:space-y-0">
		{{embed}}
		<div class="sticky bottom-4 text-right">
			<span class="inline-block mr-4">
				<a class="bg-[red] py-2 px-3 rounded-lg shadow shadow-black flex w-fit space-x-1 text-white" href="tel:{{.Site.Store.Tel}}">
					<svg xmlns="http://www.w3.org/2000/svg" class="flex-none w-4 align-middle" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					   <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
					</svg>
					<span class="flex-none text-sm font-bold">예약 문의 전화</span>
				</a>
			</span>
		</div>
	</main>
	{{template "components/footer/global" .}}
</body>
</html>
